@import "../../../styles/variables.module.scss";
@import "../../../styles/mixins.scss";

.container {
	margin-top: $spacing-6;
	padding: 0 $spacing-3;

	@include media-min-sm {
		padding: 0;
	}
}

.window {
	max-width: 450px;
}

.windowContent {
	display: flex;
	flex-direction: column;
	gap: $spacing-3;
}

.frame {
	width: 100%;
	padding: $spacing-2 $spacing-3 0;
}
