@import "../../styles/variables.module.scss";
@import "../../styles/mixins.scss";

.window {
	position: absolute;
	top: 60px;
	max-width: 450px;
	max-height: 600px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	gap: $spacing-3;

	max-height: 440px; // 600 for the container window, minus all other content. result is 440
}

.frame {
	width: 100%;
	padding: $spacing-2 $spacing-3 0;
}
