@import "../../../styles/mixins.scss";
@import "../../../styles/variables.module.scss";

.button {
	// Reset all button styles
	all: unset;
	cursor: pointer;
	text-transform: capitalize;
}

.languageAbbreviation {
	text-transform: capitalize;
	background-color: $highlight;
	line-height: 26px;
	padding: 0 $spacing !important;
}
