@use "../../../styles/variables.module.scss";
@use "../../../styles/mixins.scss";

.container {
  display: inline-block;
}

.reactIcon {
  height: 24px;
  width: auto;
  color: black;

  @include mixins.media-min-sm {
    margin-right: variables.$spacing;
  }
}

.container:hover .reactIcon {
  color: #00d8ff;
}
