@use "../../styles/variables.module.scss";

.wrapper {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  padding: variables.$spacing;
  flex-shrink: 0;
  width: 100%;
}

.urlBar {
  flex: 1;
  min-width: 0;
  width: auto;
}

.scroll {
  flex: 1;
  min-height: 0;
  width: 100%;
  background-color: white;
}

.grid {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: variables.$spacing;
  align-content: start;
  padding: variables.$spacing;
}
