@use "variables.module.scss";
@use "mixins.scss";

@font-face {
	font-family: "pixeloid_sans";
	src: url("../assets/fonts/PixeloidSans.ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0 !important;
	color: currentColor;
	font-weight: 400;
	font-family: "pixeloid_sans", sans-serif !important;

	min-height: 100vh;

	transition: background-color 300ms ease;

	&[data-loading="false"] {
		background-color: variables.$background !important;
	}
}

a {
	img {
		&:hover {
			opacity: 0.8;
		}
	}
}

.window-title {
	@include mixins.no-select;
	margin-left: variables.$spacing;
}

.no-select {
	@include mixins.no-select;
}
