@import "./variables.module.scss";

@font-face {
	font-family: "pixeloid_sans";
	src: url("../assets/fonts/PixeloidSans.ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	color: currentColor;
	font-weight: 400;
	font-family: "pixeloid_sans", sans-serif !important;

	background-color: $background;
	min-height: 100vh;
}

a {
	img {
		&:hover {
			opacity: 0.8;
		}
	}
}

.window-title {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img.icon {
	height: 24px;
	margin: 0 $spacing-2 0 0;

	&.right {
		margin: 0 0 0 $spacing-3;
	}

	&.small {
		height: 20px;
	}
}
