.highlight-phone {
  color: #313437;
  background-color: #eef4f7;
  padding: 50px 0 55px;
  overflow: hidden;
}

@media (max-width:767px) {
  .highlight-phone {
    text-align: center;
  }
}

.highlight-phone p {
  color: #7d8285;
}

.highlight-phone h2 {
  font-weight: bold;
  margin-bottom: 35px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-phone .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}

@media (max-width:767px) {
  .highlight-phone .intro {
    max-width: none;
  }
}

.highlight-phone .intro p {
  margin-bottom: 35px;
}

.highlight-phone .intro .btn {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}

.highlight-phone .intro .btn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 8px 10px 12px;
  background-position: right center;
}

.highlight-phone .intro .btn:active {
  transform: translateY(2px);
}

.highlight-phone .intro .btn-primary {
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
}

.highlight-phone .phone-mockup {
  position: relative;
  max-width: 260px;
  margin-top: -30px;
  margin-bottom: -230px;
  transform: rotate(-15deg);
}

.highlight-phone .phone-mockup img.device {
  width: 100%;
  height: auto;
}

.highlight-phone .phone-mockup .screen {
  position: absolute;
  width: 94%;
  height: 91%;
  top: 1%;
  left: 3%;
  border: 1px solid #444;
  border-radius: 20px;
  background-color: #aaa;
  overflow: hidden;
  background: url(../../assets/img/default.png);
  background-size: 100% 100%;
  background-position: center;
  z-index: -1;
}

.highlight-phone .phone-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -6%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

