/* Start: Social Icons */

.social-links {
  /*position: relative;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  margin: 0;
  padding: 0;
  display: flex;
  /*align-items: center;*/
}

.social-links li {
  list-style: none;
}

.social-links li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background: #ccc;
  color: #262626;
  margin: 0 10px;
  transition: .5s;
}

.social-links li a span {
  position: absolute;
  transition: transform .5s;
}

.social-links li a span:nth-child(1), .social-links li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #262626;
}

.social-links li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
  border: solid 2px;
  width: 100%;
}

.social-links li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.social-links li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
  border: solid 2px;
  width: 100%;
}

.social-links li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.social-links li a span:nth-child(2), .social-links li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #262626;
}

.social-links li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  border: solid 2px;
  height: 100%;
}

.social-links li a:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform .5s;
}

.social-links li a span:nth-child(4) {
  bottom: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  border: solid 2px;
  height: 100%;
}

.social-links li a:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform .5s;
}

/* End: Social Links */

/* Start: Custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #264653;
}

/* End: Custom scrollbar */

.bg-primary {
  background-color: #2a8d8f !important;
}

.bg-secondary {
  background-color: #264653 !important;
}

.text-secondary {
  color: #e76f51 !important;
}

.btn-primary {
  background-color: #f4a261;
  border-color: #f4a261;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #e76f51;
  border-color: #e76f51;
  color: white;
}

a {
  color: var(--bs-white);
}

a:focus, a:hover, a:active {
  color: #f4a261;
}

body {
  font-family: 'Montserrat';
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #2a9d8f;
}

.nav-link:hover, .nav-link:focus {
  color: #2a9d8f;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #2a9d8f;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #868e96;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #868e96;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2a9d8f;
  --bs-secondary: #2C3E50;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #e76f51;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 24, 188, 156;
  --bs-secondary-rgb: 44, 62, 80;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #2a9d8f;
  }
}

.border-warning {
  border-color: #e76f51 !important;
}

