@use "../../styles/variables.module.scss";
@use "../../styles/mixins.scss";

.container {
  max-width: 60px;
  overflow: hidden;
  padding: variables.$spacing;

  @include mixins.selectable-item;
}

.name {
  word-wrap: anywhere;
  text-align: center;
  font-size: 12px;
  line-height: 12px;

  @include mixins.no-select;
}
