@import "../../styles/mixins.scss";

.container {
	width: 65px !important;

	@include media-min-sm {
		width: 110px !important;
	}

	& [data-testid="select-button"] {
		width: 22px !important;

		@include media-min-sm {
			width: 30px !important;
		}
	}
}
