@import "../../styles/variables.module.scss";
@import "../../styles/mixins.scss";

.container {
	gap: $spacing;

	overflow-x: scroll;
	scroll-snap-type: x mandatory;

	& > button {
		scroll-snap-align: start;
	}

	@include media-min-sm {
		gap: $spacing-2;
	}
}
