@import "../../styles/variables.module.scss";
@import "../../styles/mixins.scss";

.container {
	gap: $spacing !important;

	overflow-x: auto;
	overflow-y: hidden; // Butonlara basıldığında height değişikliğinden dolayı overflow tetikleniyor.
	scroll-snap-type: x mandatory;

	& > button {
		scroll-snap-align: start;
	}

	@include media-min-sm {
		overflow-x: hidden;
		gap: $spacing-2 !important;
	}
}

.button {
	gap: $spacing-2;
}
