@import "../styles/variables.module.scss";
@import "../styles/mixins.scss";

.clippy {
	position: absolute;
	top: unset;
	bottom: $spacing-4;
	right: $spacing-4;

	cursor: pointer;

	@include media-min-sm {
		bottom: unset;
		top: 60px;
	}
}
