@use "../styles/variables.module.scss";

.loader {
  z-index: 999999;
  position: fixed;
  top: calc(variables.$navbar-height - 6px);
  left: calc(-1 * variables.$spacing);

  width: calc(100vw + variables.$spacing-2);

  & > div {
    height: 16px !important;

    & > div {
      border: none !important;

      &::before {
        content: none;
      }
    }
  }
}
