@use "../styles/variables.module.scss";

.loader {
	z-index: 999999;
	position: absolute;
	top: 50px;
	left: calc(-1 * variables.$spacing);

	width: calc(100svw + variables.$spacing-2);

	& > div {
		height: 16px !important;

		& > div {
			border: none !important;

			&::before {
				content: none;
			}
		}
	}
}
