@import "../styles/variables.module.scss";
@import "../styles/mixins.scss";

.icon {
	height: 24px;
	width: auto;
	margin: 0;

	&.disabled {
		opacity: 0.4;
	}

	&.mr {
		margin: 0 $spacing 0 0;

		@include media-min-sm {
			margin: 0 $spacing-2 0 0;
		}
	}

	&.ml {
		margin: 0 0 0 $spacing;

		@include media-min-sm {
			margin: 0 0 0 $spacing-2;
		}
	}

	&.small {
		height: 20px;
	}
}
