@import "../../../styles/variables.module.scss";
@import "../../../styles/mixins.scss";

.window {
	position: absolute;
	top: 60px;
	max-width: 450px;
}

.windowContent {
	display: flex;
	flex-direction: column;
	gap: $spacing-3;
}

.frame {
	width: 100%;
	padding: $spacing-2 $spacing-3 0;
}
