@use "../../styles/variables.module.scss";
@use "../../styles/mixins.scss";

.container {
  position: absolute;
  top: unset;
  bottom: variables.$spacing-4;
  right: variables.$spacing-4;

  width: max-content;

  @include mixins.no-select;
}

.clippy {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 1;
  display: block;
  padding: var(--space-4);
  top: 60%;
  left: -60%;
  width: max-content;

  border: 2px solid var(--color-border-darkest);
  background: var(--color-tooltip);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.35);

  text-align: center;
  font-size: 1rem;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
