@import "../variables.scss";

.container {
	display: flex;
	flex-direction: row;
	gap: $spacing-2;
}

.companyInfoContainer {
	display: flex;
	flex-direction: column;
	gap: $spacing;

	min-width: 4cm;
	max-width: 4cm;
}

.periodContainer {
	display: flex;
	flex-direction: column;
}

.experienceInfoContainer {
	display: flex;
	flex-direction: column;
	gap: $spacing-3;
}

.experienceSummary {
	display: flex;
	flex-direction: column;
	gap: $spacing;
}

.projectContainer {
	display: flex;
	flex-direction: column;
	gap: $spacing;
}

.techStack {
	display: flex;
	flex-direction: row;
	gap: $spacing;

	& li {
		color: $secondary;

		background-color: $primary;

		border-radius: 1mm;
		padding: $padding;
	}
}
