@use "../styles/variables.module.scss";
@use "../styles/mixins.scss";

.container {
	margin: 0;
	min-height: 100svh;

	display: grid;
	grid-template-rows: auto 1fr auto;
}

.container.fadeIn {
	animation-name: fade-in;
	animation-duration: 400ms;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-delay: 100ms;
}

.main {
	min-height: calc(100svh - variables.$navbar-height);
	padding-top: variables.$navbar-height;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
